html, body{
  //overflow-x: visible;
}

section.splash{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 50px 50px 450px 1fr 100px;
  align-items: flex-start;
  justify-items: center;
  text-align: center;

  @media screen and (max-width: 550px){
    grid-template-rows: 50px 50px 50px 400px 1fr 50px;
  }

  .background{
    background-image: url('../img/splash-bg.jpg');
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4;
  }

  h1, h3, p{
    grid-column: 1 / 13;
    justify-content: space-between;
    margin: 10px;
    z-index: 2;
  }

  h1{
    grid-row: 1;
    color: black;
    font-size: 62px;
    font-style: italic;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;

    @media screen and (max-width: 550px){
      font-size: 40px;
    }
  }

  h3{
    grid-row: 2;
    font-size: 24px;
    font-style: italic;
    color: #9D6025;

    @media screen and (max-width: 550px){
      font-size: 20px;
    }
  }

  .details{
    grid-row: 3;
    position: relative;
    color: $diabloRed;

    @media screen and (max-width: 550px){
      font-size: 16px;
    }
  }

  .subscribeYes{
    font-size: 36px;
    max-width: 800px;
    color: #9D6025;
    border: 2px solid;
    border-radius: 10px 40px;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
  }

  .classContainer{
    grid-column: 1 / 13 !important;
    grid-row: 5;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    align-self: end;
    position: relative;

    @media screen and (max-width: 550px){
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }

    @media screen and (max-width: 1100px) and (min-width: 551px){
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 5px;
    }

    p{
      font-size: 14px;
      width: 150px;
      position: absolute;
      color: $diabloRed;
      opacity: 0;
      transition: all 750ms ease-in-out;
      animation-name: textBubble;
      animation-iteration-count: 1;
      animation-duration: 14s;
      border: 2px solid white;
      border-radius: 15px;
      background-color: $backgroundBlack;
      padding: 15px;
      top: -80px;

      @media screen and (max-width: 550px){
        border-radius: 15px 15px 40px 0;
        top: -75px !important;
        left: 125px !important;
      }

      @media screen and (max-width: 1100px) and (min-width: 551px){
        top: -50px !important;
      }

      &::after{
        content: "";
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-color: #1E1D1C transparent transparent #1E1D1C;
        display: block;
        width: 0;
        height: 0;

        @media screen and (max-width: 1100px) and (min-width: 551px){
          display: none;
        }
      }
    }

    .classes{
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 200px;
      width: 150px;
      &:hover{
        p{
          opacity: 1;
        }
      }
    }
    .amazon{
      background-image: url('../img/Amazon.gif');
      p{
        top: -100px;
        &::after{
          top: 80px;
          left: 85px;
        }
      }
      @media screen and (max-width: 1100px) and (min-width: 551px){
        grid-column: 1;
        p{
          border-radius: 15px 15px 40px 15px;
          left: 125px;
        }
      }
    }
    .assassin{
      background-image: url('../img/Assassin.gif');
      p{
        animation-delay: 2s;
        top: -150px;
        &::after{
          top: 115px;
          left: 85px;
        }
      }
      @media screen and (max-width: 1100px) and (min-width: 551px){
        grid-column: 4;
        p{
          border-radius: 15px 15px 15px 40px;
          left: -135px;
        }
      }
    }
    .necromancer{
      background-image: url('../img/Necromancer.gif');
      p{
        animation-delay: 4s;
        top: -120px;
        &::after{
          top: 98px;
          left: 80px;
        }
      }
      @media screen and (max-width: 1100px) and (min-width: 551px){
        grid-column: 1;
        p{
          border-radius: 15px 15px 40px 15px;
          left: 125px;
        }
      }
    }
    .barbarian{
      background-image: url('../img/Barbarian.gif');
      p{
        animation-delay: 6s;
        top: -90px;
        &::after{
          top: 64px;
          left: 80px;
        }
      }
      @media screen and (max-width: 1100px) and (min-width: 551px){
        grid-column: 4;
        p{
          border-radius: 15px 15px 15px 40px;
          left: -135px;
        }
      }
    }
    .paladin{
      background-image: url('../img/Paladin.gif');
      p{
        animation-delay: 8s;
        top: -120px;
        &::after{
          top: 98px;
          left: 89px;
        }
      }
      @media screen and (max-width: 1100px) and (min-width: 551px){
        grid-column: 1;
        p{
          border-radius: 15px 15px 40px 15px;
          left: 125px;
        }
      }
    }
    .sorceress{
      background-image: url('../img/Sorceress.gif');
      p{
        animation-delay: 10s;
        top: -127px;
        &::after{
          top: 115px;
          left: 70px;
        }
      }
      @media screen and (max-width: 1100px) and (min-width: 551px){
        grid-column: 4;
        p{
          border-radius: 15px 15px 15px 40px;
          left: -135px;
        }
      }
    }
    .druid{
      background-image: url('../img/Druid.gif');
      p{
        animation-delay: 12s;
        top: -160px;
        &::after{
          top: 132px;
          left: 70px;
        }
      }
    }
    @media screen and (max-width: 1100px){
      grid-column: 1;
      p{
        border-radius: 15px 15px 40px 15px;
        left: 125px;
      }
    }
  }

  form{
    grid-column: 1 / 13;
    grid-row: 4;
    position: relative;
    margin: 10px;
    z-index: 10;

    p, input, button, .g-recaptcha{
      margin: 10px;
      font-size: 20px;
      color: $diabloRed;
    }

    button{
      padding: 8px;
      cursor: pointer;
    }
    input::placeholder{
      color: $backgroundBlack;
      font-style: italic;
    }
    .g-recaptcha{
      display: block;
      width: 300px;
      margin: 20px auto;

    }
  }

  .footer{
    grid-column: 1 / 13;
    grid-row: 6;
    position: relative;
    width: 98vw;
    border-top: 2px solid;
  }
  h4, p{
    margin: 10px;
    font-size: 18px;
    //color: $diabloRed;

    @media screen and (max-width: 550px){
      font-size: 12px;
    }
  }
}

@keyframes textBubble{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
