section.twitch{
  grid-column: 2 / 12;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  grid-column-gap: 40px;

  h2{
    grid-column: 1 / 7;
    margin: 20px 0;
    text-decoration: underline;

    @media screen and (max-width: 620px){
      grid-column: 1 / 3;
    }
  }

  .streamer{
    height: 250px;
    width: 150px;
    margin: 20px 0;
    background-image: url('https://www.fillmurray.com/150/250');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 620px){
      //grid-column: 1;
    }
  }
  @media screen and (max-width: 620px){
    grid-template-columns: 1fr 1fr;
  }

  .lumen{
    background-image: url(../img/lumen_profile.png);
  }
  .diglio{
    background-image: url(../img/diglio_profile.png);

  }
  .btneander{
    background-image: url(../img/btneander_profile.png);
  }

  .cardContainer{
    width: 150px;
    height: 250px;
    position: relative;
    perspective: 1000px;
    margin: 20px 0;

    .streamerCard{
      position: absolute;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
      transition: transform 1s;
      transform-origin: center;

      figure{
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      // .streamer{
      //   background-color: $diabloRed;
      // }
      .info{
        background-color: blue;
        color: $diabloRed;
        transform: rotateY(180deg);
        font-size: 24px;
      }
      &:hover{
        transform: rotateY(180deg);
      }
    }
  }

  .streamContainer{
    grid-column: 1 / 7;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;

    .streamerContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 700px;
      height: 400px;
      background-color: pink;
      justify-items: center;
      align-items: center;

      .streamLogo{
        background-color: blue;
      }

      .streamDescription{
        background-color: orange;
        color: black;
        margin: 10px;
      }
    }
  }

}
