@import url("https://fonts.googleapis.com/css?family=Rubik");
*, html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: silver; }

body {
  overflow-x: hidden;
  background-color: #1E1D1C;
  font-family: "Rubik", sans-serif;
  background-image: url(../img/splash-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.body-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  align-items: center; }

section.splash {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 50px 50px 450px 1fr 100px;
  align-items: flex-start;
  justify-items: center;
  text-align: center; }
  @media screen and (max-width: 550px) {
    section.splash {
      grid-template-rows: 50px 50px 50px 400px 1fr 50px; } }
  section.splash .background {
    background-image: url("../img/splash-bg.jpg");
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4; }
  section.splash h1, section.splash h3, section.splash p {
    grid-column: 1 / 13;
    justify-content: space-between;
    margin: 10px;
    z-index: 2; }
  section.splash h1 {
    grid-row: 1;
    color: black;
    font-size: 62px;
    font-style: italic;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e; }
    @media screen and (max-width: 550px) {
      section.splash h1 {
        font-size: 40px; } }
  section.splash h3 {
    grid-row: 2;
    font-size: 24px;
    font-style: italic;
    color: #9D6025; }
    @media screen and (max-width: 550px) {
      section.splash h3 {
        font-size: 20px; } }
  section.splash .details {
    grid-row: 3;
    position: relative;
    color: #FF0000; }
    @media screen and (max-width: 550px) {
      section.splash .details {
        font-size: 16px; } }
  section.splash .subscribeYes {
    font-size: 36px;
    max-width: 800px;
    color: #9D6025;
    border: 2px solid;
    border-radius: 10px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px; }
  section.splash .classContainer {
    grid-column: 1 / 13 !important;
    grid-row: 5;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    align-self: end;
    position: relative; }
    @media screen and (max-width: 550px) {
      section.splash .classContainer {
        grid-template-columns: 1fr;
        grid-column-gap: 0; } }
    @media screen and (max-width: 1100px) and (min-width: 551px) {
      section.splash .classContainer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 5px; } }
    section.splash .classContainer p {
      font-size: 14px;
      width: 150px;
      position: absolute;
      color: #FF0000;
      opacity: 0;
      transition: all 750ms ease-in-out;
      animation-name: textBubble;
      animation-iteration-count: 1;
      animation-duration: 14s;
      border: 2px solid white;
      border-radius: 15px;
      background-color: #1E1D1C;
      padding: 15px;
      top: -80px; }
      @media screen and (max-width: 550px) {
        section.splash .classContainer p {
          border-radius: 15px 15px 40px 0;
          top: -75px !important;
          left: 125px !important; } }
      @media screen and (max-width: 1100px) and (min-width: 551px) {
        section.splash .classContainer p {
          top: -50px !important; } }
      section.splash .classContainer p::after {
        content: "";
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-color: #1E1D1C transparent transparent #1E1D1C;
        display: block;
        width: 0;
        height: 0; }
        @media screen and (max-width: 1100px) and (min-width: 551px) {
          section.splash .classContainer p::after {
            display: none; } }
    section.splash .classContainer .classes {
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 200px;
      width: 150px; }
      section.splash .classContainer .classes:hover p {
        opacity: 1; }
    section.splash .classContainer .amazon {
      background-image: url("../img/Amazon.gif"); }
      section.splash .classContainer .amazon p {
        top: -100px; }
        section.splash .classContainer .amazon p::after {
          top: 80px;
          left: 85px; }
      @media screen and (max-width: 1100px) and (min-width: 551px) {
        section.splash .classContainer .amazon {
          grid-column: 1; }
          section.splash .classContainer .amazon p {
            border-radius: 15px 15px 40px 15px;
            left: 125px; } }
    section.splash .classContainer .assassin {
      background-image: url("../img/Assassin.gif"); }
      section.splash .classContainer .assassin p {
        animation-delay: 2s;
        top: -150px; }
        section.splash .classContainer .assassin p::after {
          top: 115px;
          left: 85px; }
      @media screen and (max-width: 1100px) and (min-width: 551px) {
        section.splash .classContainer .assassin {
          grid-column: 4; }
          section.splash .classContainer .assassin p {
            border-radius: 15px 15px 15px 40px;
            left: -135px; } }
    section.splash .classContainer .necromancer {
      background-image: url("../img/Necromancer.gif"); }
      section.splash .classContainer .necromancer p {
        animation-delay: 4s;
        top: -120px; }
        section.splash .classContainer .necromancer p::after {
          top: 98px;
          left: 80px; }
      @media screen and (max-width: 1100px) and (min-width: 551px) {
        section.splash .classContainer .necromancer {
          grid-column: 1; }
          section.splash .classContainer .necromancer p {
            border-radius: 15px 15px 40px 15px;
            left: 125px; } }
    section.splash .classContainer .barbarian {
      background-image: url("../img/Barbarian.gif"); }
      section.splash .classContainer .barbarian p {
        animation-delay: 6s;
        top: -90px; }
        section.splash .classContainer .barbarian p::after {
          top: 64px;
          left: 80px; }
      @media screen and (max-width: 1100px) and (min-width: 551px) {
        section.splash .classContainer .barbarian {
          grid-column: 4; }
          section.splash .classContainer .barbarian p {
            border-radius: 15px 15px 15px 40px;
            left: -135px; } }
    section.splash .classContainer .paladin {
      background-image: url("../img/Paladin.gif"); }
      section.splash .classContainer .paladin p {
        animation-delay: 8s;
        top: -120px; }
        section.splash .classContainer .paladin p::after {
          top: 98px;
          left: 89px; }
      @media screen and (max-width: 1100px) and (min-width: 551px) {
        section.splash .classContainer .paladin {
          grid-column: 1; }
          section.splash .classContainer .paladin p {
            border-radius: 15px 15px 40px 15px;
            left: 125px; } }
    section.splash .classContainer .sorceress {
      background-image: url("../img/Sorceress.gif"); }
      section.splash .classContainer .sorceress p {
        animation-delay: 10s;
        top: -127px; }
        section.splash .classContainer .sorceress p::after {
          top: 115px;
          left: 70px; }
      @media screen and (max-width: 1100px) and (min-width: 551px) {
        section.splash .classContainer .sorceress {
          grid-column: 4; }
          section.splash .classContainer .sorceress p {
            border-radius: 15px 15px 15px 40px;
            left: -135px; } }
    section.splash .classContainer .druid {
      background-image: url("../img/Druid.gif"); }
      section.splash .classContainer .druid p {
        animation-delay: 12s;
        top: -160px; }
        section.splash .classContainer .druid p::after {
          top: 132px;
          left: 70px; }
    @media screen and (max-width: 1100px) {
      section.splash .classContainer {
        grid-column: 1; }
        section.splash .classContainer p {
          border-radius: 15px 15px 40px 15px;
          left: 125px; } }
  section.splash form {
    grid-column: 1 / 13;
    grid-row: 4;
    position: relative;
    margin: 10px;
    z-index: 10; }
    section.splash form p, section.splash form input, section.splash form button, section.splash form .g-recaptcha {
      margin: 10px;
      font-size: 20px;
      color: #FF0000; }
    section.splash form button {
      padding: 8px;
      cursor: pointer; }
    section.splash form input::placeholder {
      color: #1E1D1C;
      font-style: italic; }
    section.splash form .g-recaptcha {
      display: block;
      width: 300px;
      margin: 20px auto; }
  section.splash .footer {
    grid-column: 1 / 13;
    grid-row: 6;
    position: relative;
    width: 98vw;
    border-top: 2px solid; }
  section.splash h4, section.splash p {
    margin: 10px;
    font-size: 18px; }
    @media screen and (max-width: 550px) {
      section.splash h4, section.splash p {
        font-size: 12px; } }

@keyframes textBubble {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header {
  height: 100px;
  width: 100vw;
  background-color: #1E1D1C; }
  header .desktop-nav ul {
    list-style: none;
    margin: 0 20px;
    padding: 0;
    height: inherit;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; }
    header .desktop-nav ul li {
      cursor: pointer; }
      header .desktop-nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.25em;
        margin: 0 10px; }
      header .desktop-nav ul li:hover a {
        text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e; }
  header .desktop-nav .logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
    margin: 0 10px; }
  header .mobile-nav {
    display: none; }
    header .mobile-nav .logo {
      background-image: url("../img/logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      border-radius: 50%; }
    header .mobile-nav .hamburger {
      position: absolute;
      width: 60px;
      height: 40px;
      cursor: pointer;
      top: 5px;
      right: 20px; }
      header .mobile-nav .hamburger span {
        display: flex;
        position: absolute;
        width: 100%;
        height: 7px;
        background-color: red;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: all .5s ease-in-out; }
      header .mobile-nav .hamburger span:nth-child(1) {
        top: 0px; }
      header .mobile-nav .hamburger span:nth-child(2) {
        top: 15px; }
      header .mobile-nav .hamburger span:nth-child(3) {
        top: 30px; }
    header .mobile-nav .hamburger.open span:nth-child(1) {
      top: 15px;
      transform: rotate(138deg); }
    header .mobile-nav .hamburger.open span:nth-child(2) {
      opacity: 0;
      left: -100px; }
    header .mobile-nav .hamburger.open span:nth-child(3) {
      top: 15px;
      transform: rotate(-138deg); }
    header .mobile-nav .mobile-nav-menu {
      display: none;
      background-color: #1E1D1C; }
      header .mobile-nav .mobile-nav-menu ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        header .mobile-nav .mobile-nav-menu ul li {
          text-align: center;
          margin: 10px 0; }
          header .mobile-nav .mobile-nav-menu ul li a {
            text-decoration: none;
            font-size: 16px;
            color: white; }
          header .mobile-nav .mobile-nav-menu ul li:hover {
            cursor: pointer; }
            header .mobile-nav .mobile-nav-menu ul li:hover a {
              color: #FF0000; }
        header .mobile-nav .mobile-nav-menu ul li:nth-child(1) {
          margin-top: 0; }
        header .mobile-nav .mobile-nav-menu ul li:nth-child(5) {
          display: none; }

section.siteCall {
  text-align: center;
  border-top: 2px solid #95989A;
  border-bottom: 2px solid #95989A;
  padding: 40px 0; }
  section.siteCall h2, section.siteCall h4 {
    color: orange; }

footer {
  margin-top: 20px;
  text-align: center;
  border-top: 2px solid #95989A;
  width: 98vw; }
  footer h4, footer p {
    margin: 15px 0; }

@media screen and (max-width: 700px) {
  header {
    height: 50px;
    position: fixed;
    top: 0; }
    header .desktop-nav {
      display: none; }
    header .mobile-nav {
      display: block; }
  section.siteCall, .body-wrap, footer {
    margin-top: 50px; } }

section.home {
  grid-column: 2 / 12; }
  section.home h2, section.home p {
    text-align: center; }
  section.home .title {
    margin-top: 20px;
    font-size: 26px;
    color: #FF0000; }
  section.home .date {
    color: orange;
    font-style: italic;
    font-size: 14px; }
  section.home .text {
    margin: 10px 0;
    position: relative;
    color: silver; }
    section.home .text:before {
      content: "";
      position: absolute;
      left: 12.5%;
      bottom: 0;
      height: 1px;
      width: 75%;
      margin: -10px;
      border-bottom: 1px solid #95989A; }
  section.home .author {
    color: #FF0000;
    border-bottom: 1px solid #95989A; }
  section.home .author:last-of-type {
    border-bottom: none; }
  section.home .text:last-of-type {
    border-bottom: none; }

section.news {
  grid-column: 2 / 12; }
  section.news h2, section.news p {
    text-align: center; }
  section.news .title {
    margin-top: 20px;
    font-size: 26px;
    color: #FF0000; }
  section.news .date {
    color: orange;
    font-style: italic;
    font-size: 14px; }
  section.news .text {
    margin: 10px 0;
    position: relative;
    color: silver; }
    section.news .text:before {
      content: "";
      position: absolute;
      left: 12.5%;
      bottom: 0;
      height: 1px;
      width: 75%;
      margin: -10px;
      border-bottom: 1px solid #95989A; }
  section.news .author {
    color: #FF0000;
    border-bottom: 1px solid #95989A; }
  section.news .author:last-of-type {
    border-bottom: none; }
  section.news .text:last-of-type {
    border-bottom: none; }

section.about {
  grid-column: 2 / 12;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center; }
  section.about h2, section.about p {
    grid-column: 1 / 7;
    margin: 20px 0; }
  section.about h2 {
    text-decoration: underline;
    color: orange; }
  section.about .pic {
    grid-column: 2 / 3;
    height: 300px;
    width: 200px;
    margin: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    @media screen and (max-width: 620px) {
      section.about .pic {
        grid-column: 1; } }
  section.about .cesar {
    background-image: url("../img/cesar.jpeg"); }
  section.about .mike {
    background-image: url("../img/mike.jpeg"); }
  section.about .bio {
    grid-column: 3 / 7;
    margin: 20px; }
    @media screen and (max-width: 620px) {
      section.about .bio {
        grid-column: 1; } }
  @media screen and (max-width: 620px) {
    section.about {
      grid-template-columns: 1fr; } }
  section.about hr {
    grid-column: 1 / 7;
    border-bottom: 2px solid #FF0000;
    width: 100%; }

section.twitch {
  grid-column: 2 / 12;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  grid-column-gap: 40px; }
  section.twitch h2 {
    grid-column: 1 / 7;
    margin: 20px 0;
    text-decoration: underline; }
    @media screen and (max-width: 620px) {
      section.twitch h2 {
        grid-column: 1 / 3; } }
  section.twitch .streamSectionContainer {
    width: auto;
    background-color: #1E1D1C;
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 5px;
    grid-column-gap: 25px; }
    @media screen and (max-width: 1230px) {
      section.twitch .streamSectionContainer {
        grid-template-columns: 1fr; } }
    section.twitch .streamSectionContainer .streamerCard {
      width: 600px;
      height: auto;
      padding: 5px;
      border: 1px solid #95989A;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 5px;
      align-items: center; }
      section.twitch .streamSectionContainer .streamerCard .profilePic {
        width: 125px;
        height: 250px;
        grid-column: 1;
        grid-row: 2;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        align-self: center;
        justify-self: center; }
      section.twitch .streamSectionContainer .streamerCard .streamerName {
        grid-column: 1;
        grid-row: 1;
        font-weight: bold;
        font-size: 1.25em; }
        section.twitch .streamSectionContainer .streamerCard .streamerName a {
          color: orange;
          text-decoration: none; }
      section.twitch .streamSectionContainer .streamerCard .streamerDescription {
        grid-column: 2;
        grid-row: 2;
        font-size: 14px;
        color: silver; }
      section.twitch .streamSectionContainer .streamerCard .streamerMediaLinks {
        grid-column: 2;
        grid-row: 1;
        list-style: none; }
        section.twitch .streamSectionContainer .streamerCard .streamerMediaLinks li {
          display: inline-flex;
          margin: 0 10px;
          padding: 0; }
          section.twitch .streamSectionContainer .streamerCard .streamerMediaLinks li a {
            display: block;
            width: 100%;
            height: 100%; }
      section.twitch .streamSectionContainer .streamerCard .lumenbr {
        background-image: url("../img/lumen_profile.png"); }
      section.twitch .streamSectionContainer .streamerCard .btneandertha1 {
        background-image: url("../img/btneander_profile.png"); }
      section.twitch .streamSectionContainer .streamerCard .diglio {
        background-image: url("../img/diglio_profile.png"); }
      section.twitch .streamSectionContainer .streamerCard .alarashade {
        background-image: url("../img/alarashade_profile.jpeg"); }
      section.twitch .streamSectionContainer .streamerCard .mrllama {
        background-image: url("../img/mrllama_profile.png"); }
      section.twitch .streamSectionContainer .streamerCard .flufflo {
        background-image: url("../img/flufflo_profile.png"); }
      section.twitch .streamSectionContainer .streamerCard .djwaters {
        background-image: url("../img/djwaters_profile.png"); }
      section.twitch .streamSectionContainer .streamerCard .mrbubbles {
        background-image: url("../img/mrbubbles_profile.png"); }
      section.twitch .streamSectionContainer .streamerCard .twitch,
      section.twitch .streamSectionContainer .streamerCard .twitter,
      section.twitch .streamSectionContainer .streamerCard .youtube,
      section.twitch .streamSectionContainer .streamerCard .instagram,
      section.twitch .streamSectionContainer .streamerCard .discord {
        height: 35px;
        width: 35px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      section.twitch .streamSectionContainer .streamerCard .twitch {
        background-image: url("../img/twitch.png"); }
      section.twitch .streamSectionContainer .streamerCard .twitter {
        background-image: url("../img/twitter.png"); }
      section.twitch .streamSectionContainer .streamerCard .discord {
        background-image: url("../img/discord.png"); }
      section.twitch .streamSectionContainer .streamerCard .instagram {
        background-image: url("../img/instagram.png"); }
      section.twitch .streamSectionContainer .streamerCard .youtube {
        background-image: url("../img/youtube.png"); }

section.classes {
  grid-column: 2 / 12;
  text-align: center; }
  section.classes .classMenu {
    margin: 10px 0; }
    section.classes .classMenu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center; }
      section.classes .classMenu ul li {
        cursor: pointer;
        margin: 10px 10px; }
        section.classes .classMenu ul li a {
          text-decoration: none;
          color: white;
          font-size: 22px; }
        section.classes .classMenu ul li:hover a {
          color: #FF0000; }
      @media screen and (max-width: 620px) {
        section.classes .classMenu ul {
          flex-direction: column; } }
    @media screen and (max-width: 620px) {
      section.classes .classMenu {
        margin: 10px 0; } }
  section.classes .classGroup {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px 10px;
    align-items: center;
    margin: 40px 0; }
    section.classes .classGroup .classIcon {
      grid-column: 1;
      height: 200px;
      width: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 20px 0; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .classIcon {
          grid-column: 1; } }
    section.classes .classGroup .classInfo {
      grid-column: 2 / 7; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .classInfo {
          grid-column: 1; } }
    section.classes .classGroup .amazon {
      background-image: url("../img/Amazon.gif"); }
    section.classes .classGroup .assassin {
      background-image: url("../img/Assassin.gif"); }
    section.classes .classGroup .barbarian {
      background-image: url("../img/Barbarian.gif"); }
    section.classes .classGroup .druid {
      background-image: url("../img/Druid.gif"); }
    section.classes .classGroup .necromancer {
      background-image: url("../img/Necromancer.gif"); }
    section.classes .classGroup .paladin {
      background-image: url("../img/Paladin.gif"); }
    section.classes .classGroup .sorceress {
      background-image: url("../img/Sorceress.gif"); }
    @media screen and (max-width: 620px) {
      section.classes .classGroup {
        grid-template-columns: 1fr;
        justify-items: center; } }
    section.classes .classGroup .classSkill {
      height: 200px;
      width: 200px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
    section.classes .classGroup .classSkill.clicked {
      height: 500px;
      width: 25vw; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .classSkill.clicked {
          width: 75vw; } }
    section.classes .classGroup .tree1, section.classes .classGroup .tree2, section.classes .classGroup .tree3 {
      margin: 0 20px; }
    section.classes .classGroup .tree1 {
      grid-column: 3; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .tree1 {
          grid-column: 1; } }
    section.classes .classGroup .tree2 {
      grid-column: 4; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .tree2 {
          grid-column: 1; } }
    section.classes .classGroup .tree3 {
      grid-column: 5; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .tree3 {
          grid-column: 1; } }
    section.classes .classGroup .amazonSkills1 {
      background-image: url("../img/amazonSkills1.jpg"); }
    section.classes .classGroup .amazonSkills2 {
      background-image: url("../img/amazonSkills2.jpg"); }
    section.classes .classGroup .amazonSkills3 {
      background-image: url("../img/amazonSkills3.jpg"); }
    section.classes .classGroup .assassinSkills1 {
      background-image: url("../img/assassinSkills1.jpg"); }
    section.classes .classGroup .assassinSkills2 {
      background-image: url("../img/assassinSkills2.jpg"); }
    section.classes .classGroup .assassinSkills3 {
      background-image: url("../img/assassinSkills3.jpg"); }
    section.classes .classGroup .barbarianSkills1 {
      background-image: url("../img/barbarianSkills1.jpg"); }
    section.classes .classGroup .barbarianSkills2 {
      background-image: url("../img/barbarianSkills2.jpg"); }
    section.classes .classGroup .barbarianSkills3 {
      background-image: url("../img/barbarianSkills3.jpg"); }
    section.classes .classGroup .druidSkills1 {
      background-image: url("../img/druidSkills1.jpg"); }
    section.classes .classGroup .druidSkills2 {
      background-image: url("../img/druidSkills2.jpg"); }
    section.classes .classGroup .druidSkills3 {
      background-image: url("../img/druidSkills3.jpg"); }
    section.classes .classGroup .necromancerSkills1 {
      background-image: url("../img/necromancerSkills1.jpg"); }
    section.classes .classGroup .necromancerSkills2 {
      background-image: url("../img/necromancerSkills2.jpg"); }
    section.classes .classGroup .necromancerSkills3 {
      background-image: url("../img/necromancerSkills3.jpg"); }
    section.classes .classGroup .paladinSkills1 {
      background-image: url("../img/paladinSkills1.jpg"); }
    section.classes .classGroup .paladinSkills2 {
      background-image: url("../img/paladinSkills2.jpg"); }
    section.classes .classGroup .paladinSkills3 {
      background-image: url("../img/paladinSkills3.jpg"); }
    section.classes .classGroup .sorceressSkills1 {
      background-image: url("../img/sorceressSkills1.jpg"); }
    section.classes .classGroup .sorceressSkills2 {
      background-image: url("../img/sorceressSkills2.jpg"); }
    section.classes .classGroup .sorceressSkills3 {
      background-image: url("../img/sorceressSkills3.jpg"); }

section.leaderboards {
  grid-column: 2 / 12;
  text-align: center; }
  section.leaderboards h2, section.leaderboards p {
    margin: 20px 0; }

section.guides {
  grid-column: 2 / 12;
  text-align: center; }
  section.guides h2, section.guides p {
    margin: 20px 0; }
  section.guides .fhr {
    border-top: 2px solid #FF0000; }
  section.guides .reference {
    font-style: italic;
    font-size: 14px;
    color: orange; }
  section.guides table {
    width: 100%;
    background-color: #1E1D1C; }
    section.guides table tbody tr th {
      padding: 8px;
      font-weight: bold;
      border: 1px solid #95989A;
      color: #FF0000; }
    section.guides table tbody tr td {
      padding: 8px;
      border: 1px solid #95989A; }
    section.guides table tbody tr td:first-child {
      color: #FF0000; }

section.items {
  grid-column: 2 / 12;
  text-align: center; }
  section.items h2, section.items p {
    margin: 20px 0; }
