*, html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #95989A; }

body {
  overflow-x: hidden;
  background-color: #1E1D1C; }

.body-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  align-items: center; }

header {
  height: 100px;
  width: 100vw;
  background-color: #1E1D1C; }
  header .desktop-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    header .desktop-nav ul li {
      cursor: pointer; }
      header .desktop-nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        margin: 0 10px; }
      header .desktop-nav ul li:hover a {
        color: #FF0000; }
  header .desktop-nav .logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 10px; }
  header .mobile-nav {
    display: none; }
    header .mobile-nav .logo {
      background-image: url("../img/logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      border-radius: 50%; }
    header .mobile-nav .hamburger {
      position: absolute;
      width: 60px;
      height: 40px;
      cursor: pointer;
      top: 5px;
      right: 20px; }
      header .mobile-nav .hamburger span {
        display: flex;
        position: absolute;
        width: 100%;
        height: 7px;
        background-color: red;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: all .5s ease-in-out; }
      header .mobile-nav .hamburger span:nth-child(1) {
        top: 0px; }
      header .mobile-nav .hamburger span:nth-child(2) {
        top: 15px; }
      header .mobile-nav .hamburger span:nth-child(3) {
        top: 30px; }
    header .mobile-nav .hamburger.open span:nth-child(1) {
      top: 15px;
      transform: rotate(138deg); }
    header .mobile-nav .hamburger.open span:nth-child(2) {
      opacity: 0;
      left: -100px; }
    header .mobile-nav .hamburger.open span:nth-child(3) {
      top: 15px;
      transform: rotate(-138deg); }
    header .mobile-nav .mobile-nav-menu {
      display: none;
      background-color: #1E1D1C; }
      header .mobile-nav .mobile-nav-menu ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        header .mobile-nav .mobile-nav-menu ul li {
          text-align: center;
          margin: 10px 0; }
          header .mobile-nav .mobile-nav-menu ul li a {
            text-decoration: none;
            font-size: 16px;
            color: white; }
          header .mobile-nav .mobile-nav-menu ul li:hover {
            cursor: pointer; }
            header .mobile-nav .mobile-nav-menu ul li:hover a {
              color: #FF0000; }
        header .mobile-nav .mobile-nav-menu ul li:nth-child(1) {
          margin-top: 0; }
        header .mobile-nav .mobile-nav-menu ul li:nth-child(5) {
          display: none; }

section.siteCall {
  text-align: center;
  border-top: 2px solid #95989A;
  border-bottom: 2px solid #95989A;
  padding: 40px 0; }

footer {
  margin-top: 20px;
  text-align: center;
  border-top: 2px solid #95989A; }
  footer h4, footer p {
    margin: 15px 0; }

@media screen and (max-width: 620px) {
  header {
    height: 50px;
    position: fixed;
    top: 0; }
    header .desktop-nav {
      display: none; }
    header .mobile-nav {
      display: block; }
  section.siteCall, .body-wrap, footer {
    margin-top: 50px; } }

section.news {
  grid-column: 2 / 12; }
  section.news h2, section.news p {
    text-align: center; }
  section.news h2 {
    margin: 20px 0; }
  section.news p {
    margin: 10px 0; }
  section.news .author {
    color: #FF0000; }

section.news {
  grid-column: 2 / 12; }
  section.news h2, section.news p {
    text-align: center; }
  section.news h2 {
    margin: 20px 0; }
  section.news p {
    margin: 10px 0; }
  section.news .author {
    color: #FF0000; }

section.about {
  grid-column: 2 / 12;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center; }
  section.about h2, section.about p {
    grid-column: 1 / 7;
    margin: 20px 0; }
  section.about h2 {
    text-decoration: underline; }
  section.about .pic {
    grid-column: 2 / 3;
    height: 300px;
    width: 150px;
    margin: 20px;
    background-color: #FF0000; }
    @media screen and (max-width: 620px) {
      section.about .pic {
        grid-column: 1; } }
  section.about .bio {
    grid-column: 3 / 6;
    margin: 20px; }
    @media screen and (max-width: 620px) {
      section.about .bio {
        grid-column: 1; } }
  @media screen and (max-width: 620px) {
    section.about {
      grid-template-columns: 1fr; } }

section.twitch {
  grid-column: 2 / 11;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  grid-column-gap: 40px; }
  section.twitch h2 {
    grid-column: 1 / 7;
    margin: 20px 0;
    text-decoration: underline; }
    @media screen and (max-width: 620px) {
      section.twitch h2 {
        grid-column: 1 / 3; } }
  section.twitch .streamer {
    height: 250px;
    width: 150px;
    margin: 20px 0;
    background-image: url("https://www.fillmurray.com/150/250");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  @media screen and (max-width: 620px) {
    section.twitch {
      grid-template-columns: 1fr 1fr; } }
  section.twitch .lumen {
    background-image: url(../img/lumen_profile.png); }
  section.twitch .diglio {
    background-image: url(../img/diglio_profile.png); }
  section.twitch .btneander {
    background-image: url(../img/btneander_profile.png); }

section.classes {
  grid-column: 2 / 11;
  text-align: center; }
  section.classes .classMenu {
    margin: 40px 0; }
    section.classes .classMenu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      text-align: center; }
      section.classes .classMenu ul li {
        cursor: pointer;
        margin: 10px 10px; }
        section.classes .classMenu ul li a {
          text-decoration: none;
          color: white;
          font-size: 22px; }
        section.classes .classMenu ul li:hover a {
          color: #FF0000; }
      @media screen and (max-width: 620px) {
        section.classes .classMenu ul {
          flex-direction: column; } }
    @media screen and (max-width: 620px) {
      section.classes .classMenu {
        margin: 10px 0; } }
  section.classes .classGroup {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px 10px;
    align-items: center;
    margin: 40px 0; }
    section.classes .classGroup .classIcon {
      grid-column: 2;
      height: 200px;
      width: 150px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 20px 0; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .classIcon {
          grid-column: 1; } }
    section.classes .classGroup .classInfo {
      grid-column: 3 / 7; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .classInfo {
          grid-column: 1; } }
    section.classes .classGroup .amazon {
      background-image: url("../img/Amazon.gif"); }
    section.classes .classGroup .assassin {
      background-image: url("../img/Assassin.gif"); }
    section.classes .classGroup .barbarian {
      background-image: url("../img/Barbarian.gif"); }
    section.classes .classGroup .druid {
      background-image: url("../img/Druid.gif"); }
    section.classes .classGroup .necromancer {
      background-image: url("../img/Necromancer.gif"); }
    section.classes .classGroup .paladin {
      background-image: url("../img/Paladin.gif"); }
    section.classes .classGroup .sorceress {
      background-image: url("../img/Sorceress.gif"); }
    @media screen and (max-width: 620px) {
      section.classes .classGroup {
        grid-template-columns: 1fr;
        justify-items: center; } }
    section.classes .classGroup .classSkill {
      height: 200px;
      width: 200px;
      background-color: #FF0000; }
    section.classes .classGroup .tree1, section.classes .classGroup .tree2, section.classes .classGroup .tree3 {
      margin: 0 20px; }
    section.classes .classGroup .tree1 {
      grid-column: 3; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .tree1 {
          grid-column: 1; } }
    section.classes .classGroup .tree2 {
      grid-column: 4; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .tree2 {
          grid-column: 1; } }
    section.classes .classGroup .tree3 {
      grid-column: 5; }
      @media screen and (max-width: 620px) {
        section.classes .classGroup .tree3 {
          grid-column: 1; } }
