extends layout

block content 
  section.about
    h2 The Developers - Our Story
    p.
      Tristram Reborn started as an idea one late night of playing Diablo 2. I was doing some Hell Farming on my Hardcore Sorceress and came across a random drop (honestly I have no idea what it was). I alt tab'd out of D2, headed to the Google machine, and did a search on the item's name. From there, I was brought to the Diablo 2 official Wiki which had the information I was looking for. While on the site, I started to browse through the different pages and realized just how convoluted it all was. Links to many other games, sub links within sub links to bring you to the proper pages. Honestly, it was more of a headache to be on the site to navigate infromation that it was to just Google it. 
    p.
      After going back into Diablo 2 and doing some more farming, I thougth to myself, "Why not make a site that is easy to navigate, has all the information needed and be quickly accessible. Additionally, make it user friendly and have it cater to those players that need to look something up quickly and get back to playing. Heck, with Twitch being as popular as it is, and many new and old faces playing Diablo 2, why not incorporate that as well?" (Yes, my train of thought seems to be quite elaborate but hey, it is what it is).
    p.
      Luckily, having a bit of knowledge in the "Web-Development" realm, and having a friend who shares similar interests, we decided we were going to make this happen. It was time to bring Diablo 2, and it's knowledge base into the modern day. No more struggling on the Diablo 2 Wiki and Arreat Summit in order to find simple FHR and FCR charts. No more having to sort hundreds of YouTube videos to find builds for classes. At Tristram Reborn, everything will accessible under 1 domain. And, if there is something not on the site, a simple message can change that. 
    
    .pic.mike
    p.bio.
      Ut velit sint fore nostrud, incididunt veniam quis se culpa, aliquip ipsum qui 
      incurreret comprehenderit, ea irure commodo cupidatat, commodo si legam 
      excepteur ea illum qui mandaremus, aute cernantur qui vidisse, an se quid 
      occaecat. Cillum sed voluptate, in quid aliquip, fabulas coniunctione o fabulas 
      an ubi commodo efflorescere ad aliqua vidisse illustriora e dolor an eiusmod e 
      iudicem labore malis appellat summis, veniam aut in summis ullamco. Ab aliqua 
      illum veniam eiusmod ea anim se si dolore consequat te tempor ita incurreret hic 
      elit, minim quo laborum, amet deserunt in vidisse qui irure ubi constias an 
      multos, export voluptate sed concursionibus, a senserit de occaecat.Fore 
      voluptate commodo qui de export fugiat an cernantur, labore ex admodum ne e 
      veniam culpa nam appellat, ita minim exquisitaque, e aliqua noster o doctrina ad 
      ne irure despicationes, o illum irure sunt admodum. Aut sunt incurreret ita 
      incurreret dolor cillum constias dolore. Ea iis irure ingeniis a cernantur sint 
      quid eu sunt a laborum quem quibusdam eu quamquam ipsum arbitror arbitror.
    
    .pic.cesar
    p.bio.
      Laboris legam mandaremus. Te export mentitum iudicem ad quid quibusdam 
      graviterque. Mentitum sunt nostrud. Vidisse quis aut mandaremus coniunctione ad 
      multos mentitum qui mandaremus ad cernantur duis tamen a minim sed ea fugiat 
      amet ea officia ubi fabulas reprehenderit et occaecat ita summis de ex nisi 
      expetendis, ab eram legam culpa laborum, velit admodum id constias.Laborum eu 
      aute te vidisse nulla ipsum o aliqua e ab nisi laboris quamquam ad aut tempor 
      quamquam relinqueret, amet id offendit ea esse, ab anim laboris, ab e legam 
      fabulas, non non fugiat ipsum magna. Culpa iis cernantur eu a quorum in fore nam 
      tamen litteris illustriora, velit hic aut dolor probant. Probant relinqueret ut 
      occaecat ut noster ne offendit, pariatur te noster, quorum incididunt 
      tractavissent, si cernantur o laboris, id export tamen sed senserit qui ea 
      senserit id arbitror qui an magna transferrem.
