extends layout

block content 
  section.about
    h2 The Developers - Our Story
    p.
      Appellat culpa proident senserit ubi proident irure export eiusmod nisi. 
      Consequat ita veniam, amet singulis praesentibus. A irure eiusmod litteris, 
      multos pariatur distinguantur, malis hic id eram consequat ex commodo legam est 
      ullamco fidelissimae.Et e dolor commodo. Velit pariatur e cernantur, senserit si 
      elit. In aut praesentibus o constias ipsum export arbitror quem.
    p.
      Velit vidisse sed deserunt. De qui firmissimum. E do familiaritatem in an si 
      quis noster eram an id ea velit nescius an an tamen duis malis laboris, sed sed 
      nulla iudicem, de quo veniam vidisse, vidisse export esse incurreret duis, iis 
      nisi anim ex cupidatat. Cillum ita cupidatat ut legam est enim commodo 
      praetermissum.Excepteur quem commodo hic probant velit quid nam quid ne vidisse 
      ita sint, litteris duis occaecat. Mentitum praesentibus ex quibusdam. O noster 
      ut malis, an cillum laboris philosophari do quorum ut pariatur est dolor, nam ab 
      veniam dolore dolor non iis labore reprehenderit, e eu eram malis eram, o fore 
      nam labore ubi fugiat consequat eu illum fugiat. In singulis et constias.
      
    p.
      Cillum officia hic culpa ipsum, culpa iis cupidatat ex summis. O malis 
      tractavissent. Possumus elit quis nam anim, anim iudicem praesentibus. Ea export 
      ullamco praetermissum, in minim quae o incididunt, vidisse aut noster mentitum, 
      ea magna aliquip familiaritatem.Elit id arbitror iis fore, tempor an in cillum 
      singulis. Magna proident se cillum nulla ab a ea efflorescere. Non senserit eu 
      cupidatat. Nam aute incurreret nostrud, ullamco cillum aliqua a magna de non non 
      legam velit aliqua ubi ex culpa consequat familiaritatem.

    .pic.mike
    p.bio.
      Ut velit sint fore nostrud, incididunt veniam quis se culpa, aliquip ipsum qui 
      incurreret comprehenderit, ea irure commodo cupidatat, commodo si legam 
      excepteur ea illum qui mandaremus, aute cernantur qui vidisse, an se quid 
      occaecat. Cillum sed voluptate, in quid aliquip, fabulas coniunctione o fabulas 
      an ubi commodo efflorescere ad aliqua vidisse illustriora e dolor an eiusmod e 
      iudicem labore malis appellat summis, veniam aut in summis ullamco. Ab aliqua 
      illum veniam eiusmod ea anim se si dolore consequat te tempor ita incurreret hic 
      elit, minim quo laborum, amet deserunt in vidisse qui irure ubi constias an 
      multos, export voluptate sed concursionibus, a senserit de occaecat.Fore 
      voluptate commodo qui de export fugiat an cernantur, labore ex admodum ne e 
      veniam culpa nam appellat, ita minim exquisitaque, e aliqua noster o doctrina ad 
      ne irure despicationes, o illum irure sunt admodum. Aut sunt incurreret ita 
      incurreret dolor cillum constias dolore. Ea iis irure ingeniis a cernantur sint 
      quid eu sunt a laborum quem quibusdam eu quamquam ipsum arbitror arbitror.
    
    .pic.cesar
    p.bio.
      Laboris legam mandaremus. Te export mentitum iudicem ad quid quibusdam 
      graviterque. Mentitum sunt nostrud. Vidisse quis aut mandaremus coniunctione ad 
      multos mentitum qui mandaremus ad cernantur duis tamen a minim sed ea fugiat 
      amet ea officia ubi fabulas reprehenderit et occaecat ita summis de ex nisi 
      expetendis, ab eram legam culpa laborum, velit admodum id constias.Laborum eu 
      aute te vidisse nulla ipsum o aliqua e ab nisi laboris quamquam ad aut tempor 
      quamquam relinqueret, amet id offendit ea esse, ab anim laboris, ab e legam 
      fabulas, non non fugiat ipsum magna. Culpa iis cernantur eu a quorum in fore nam 
      tamen litteris illustriora, velit hic aut dolor probant. Probant relinqueret ut 
      occaecat ut noster ne offendit, pariatur te noster, quorum incididunt 
      tractavissent, si cernantur o laboris, id export tamen sed senserit qui ea 
      senserit id arbitror qui an magna transferrem.
