extends layout

block content 
  section.about
    h2 The Developers - Our Story
    p.
      Tristram Reborn started as an idea one late night of playing Diablo 2. I was doing some Hell Farming on my Hardcore Sorceress and came across a random drop (honestly I have no idea what it was). I alt tab'd out of D2, headed to the Google machine, and did a search on the item's name. From there, I was brought to the Diablo 2 official Wiki which had the information I was looking for. While on the site, I started to browse through the different pages and realized just how convoluted it all was. Links to many other games, sub links within sub links to bring you to the proper pages. Honestly, it was more of a headache to be on the site to navigate infromation that it was to just Google it. 
    p.
      After going back into Diablo 2 and doing some more farming, I thougth to myself, "Why not make a site that is easy to navigate, has all the information needed and be quickly accessible. Additionally, make it user friendly and have it cater to those players that need to look something up quickly and get back to playing. Heck, with Twitch being as popular as it is, and many new and old faces playing Diablo 2, why not incorporate that as well?" (Yes, my train of thought seems to be quite elaborate but hey, it is what it is).
    p.
      Luckily, having a bit of knowledge in the "Web-Development" realm, and having a friend who shares similar interests, we decided we were going to make this happen. It was time to bring Diablo 2, and it's knowledge base into the modern day. No more struggling on the Diablo 2 Wiki and Arreat Summit in order to find simple FHR and FCR charts. No more having to sort hundreds of YouTube videos to find builds for classes. At Tristram Reborn, everything will accessible under 1 domain. And, if there is something not on the site, a simple message can change that. 
    
    h2 Michael Diglio
    
    .pic.mike
    p.bio.
      During the day, I'm a 27 year old Computer Engineer who works for Memorial Sloan Kettering Cancer Center in New York City. During the evenings I'm a Gamer, Streamer, and aspiring Web Developer.#[br]
      I've been working with Web Developing, mainly Front End work, for about 10 years (on and off of course). During the end of my High School years until today, I have built sites for family owned businesses, personal portfolios, and random sites for my own practice. Many of these sadly aren't out there today, but oh well, it was the work I put in that counts. #[br]
      In regards to Diablo 2, I have been playing pretty much since the release of the game. I've always enjoyed Blizzard titles (Warcraft, Starcraft, Diablo), so when Diablo 2 came out, it was an instant hook for me. #[br]
      Due to my competitive nature, I have always been interested in min/maxing a character and playng on the hardest difficulty possible. With Diablo 2, that is where my love for Hardcore came from. I've been playing Hardcore just about my entire Diablo 2 career, and I have no regrets. I have definitely lost a TON of characters, with the biggest hit being a 97 Orb Sorceress, 
      but no matter how painful it is, I would always return. #[br]
      My love for Diablo 2 is way too great for me to ever leave this game, and I plan on playing for however many Ladder Resets Blizzard decides to give us. 
      
    hr
    
    h2 Cesar Sanchez
    
    .pic.cesar
    p.bio.
      I am a computer engineer who works for Memorial Sloan Kettering Cancer Center in New York City.#[br]
      However, I dedicate my free time to working on the back-end, some call it "Behind the Scenes" or "Back Stage."#[br]
      I made that up, lolz. I am, at times, frustrated with the tedious effort of learning to code and the countless hours spent on troubleshooting when I was just missing a comma somewhere. Nevertheless, the satisfaction of witnessing your code at work is what keeps me going.#[br]
      Additionally, I have never played Diablo 2 - Honestly, I have no idea what is going when I am watching it. THe amount of times I have asked Mike "wtf is going on" is ridiculous. Maybe one day I'll give it a try. Until then, I'll be known as the guy who assisted with a Diablo 2
      fan website without actually playing the game.

I also enjoy hiking, biking(single speed guru) and the occasional video game(currently playing Star Citizen Alpha).
