extends layout

block content 
  
  section.guides
    
    h2 This section is currently under development
    p We are working on getting this section updated with relevant information pertaining to all aspects of the game. This includes stat data, item data, map layouts, leveling guides, etc... 
    p This section will most likely change visually over the coming weeks as we test new layouts until we get the proper "feel" that we are looking for.
