extends layout

block content 
  section.news
  
      - each article in articles
        
            h2 #{article.title}
            p Author: #{article.author}
            p Date Published: #{moment(article.date).format("MM-DD-YYYY h:mm A")}
            p #{article.article}
