extends layout

block content 
  
  section.items
    
    h2 This section is currently under development
    p We are hard at work with creating a database that will house every item in Diablo 2. As many, if not all of you know, there are a TON of items in this game, and creating the database to house every item, along with tags for each item, takes quite a of time to complete. 
    p We believe the wait will be worth it as we are planning on implementing a Search Bar which will easily help you find exactly what you are looking for. 
    p Additionally, we are thinking about adding additional "stats" for each item that pertain to Drop Rate and "best used in "<i>enter-build-name-here</i>" build." We believe this will allow for a better user experience.
