extends layout

block content 
  
  section.leaderboards
  
    h2 This section is currently under development
    p At the moment, we are looking for a way to hook into the official Blizzard Diablo 2 Leaderboards. Once we find a secure and efficient way to do this, this section will be created. Until then, please refer to the In-Game Leaderboards. 
    p If, however, we aren't able to get a hook into the leaderboards, I will look into creating our own, user-driven leaderboards where players can submit their character/gear/level/exp 
    
