form(method="POST", action="/messages")
 input(type="hidden", name="_method", value="PUT")
 p Name
  input(type="text", name="name")
 p Email
  input(type="email", name="email")
 p Twitch username
  input(type="text", name="twitch")
 p Message
  input(type="text", name="message")  
 p
  input(type="submit")

script src='https://www.google.com/recaptcha/api.js'
