extends layout

block content 
  section.twitch
    
    h2 Online
    
    .streamer.lumen
    .streamer.diglio
    .streamer.btneander
    
    h2 Offline
    
    .streamer
    .streamer
    .streamer
    .streamer
    .streamer
    .streamer
    .streamer
