doctype html

head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Tristram Reborn | Messages
  link(rel="stylesheet", href="messages.css")

h1 Twitch Users Submission

<form  method="POST"
<p class="username"><input type="text" name="username" placeholder="Username"><br/>
<p class="Twitter"><input type="text" name="twitter" placeholder="Twitter"><br/>
<p class="Discord"><input type="text" name="discord" placeholder="Discord"><br/>
<p class="description"><textarea rows="10" type="text"cols="50" name="description" placeholder="Description"></textarea><br/>
<button input="submit" value="submit">Submit</button>


script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
