extends layout

block content 
  section.twitch
    
    h2 Online
    
    .streamer.lumen
    .streamer.diglio
    .streamer.btneander
    
    h2 Offline
    
    .streamer
    .streamer
    .streamer
    .streamer
    .streamer
    .streamer
    .streamer
    
    h2 Testing
    
    .cardContainer
      .streamerCard
        figure.streamer.lumen
        figure.info Lumen_BR
          h3 Schedule:
          p 11am - 10pm 7x/week
    .cardContainer
      .streamerCard
        figure.streamer.diglio
        figure.info Testing the Flip
    .cardContainer
      .streamerCard
        figure.streamer.btneander
        figure.info Testing the Flip
    .cardContainer
      .streamerCard
        figure.streamer
        figure.info Testing the Flip
        
