*,html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: silver;
}

body{
  overflow-x: hidden;
  background-color: $backgroundBlack;
  font-family: $rubik;
  background-image: url(../img/splash-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.body-wrap{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  align-items: center;
}
